<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <log4net>
        <root>
            <!-- OFF, FATAL, ERROR, WARN, INFO, DEBUG, ALL -->
            <level value="ALL" />
            <appender-ref ref="RollingFile" />
            <appender-ref ref="ConsoleAppender" />
            <appender-ref ref="TraceAppender" />
        </root>

        <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <appender name="TraceAppender" type="log4net.Appender.TraceAppender, log4net">
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
            </layout>
        </appender>

        <appender name="RollingFile" type="log4net.Appender.RollingFileAppender, log4net">
            <file type="log4net.Util.PatternString" value=".\logs\%date{yyyy-MM-dd}_sample_log4net_std_app.log" />
            <appendToFile value="false" />
            <rollingStyle value="Composite" />
            <maxSizeRollBackups value="-1" />
            <maximumFileSize value="50MB" />
            <staticLogFileName value="true" />
            <datePattern value="yyyy-MM-dd" />
            <preserveLogFileNameExtension value="true" />
            <countDirection value="1" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date{ISO8601} [%-5level] [%2thread] %logger{1} - %message%newline%exception" />
            </layout>
        </appender>
    </log4net>
</configuration>